body{
    background: rgb(175,168,186);
    background: linear-gradient(90deg, rgba(175,168,186,1) 0%, rgba(0,140,104,0.5368522408963585) 100%);
}

form{
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label{
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
}
input, textarea{
    background:rgb(175,168,186) ;
    border: 1px solid black;
    padding: 0.2rem;
}

#submit{
    margin-top: 3rem;
    padding: 1.2rem;
    border: 2px solid purple;
    background:purple;
    color: black;

}

#submit:hover{
    background: black;
    color: white;
    transition: all ease 0.3s;
}